body {
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    text-align: center;
    border: solid blue;
    table-layout: auto;
    background: transparent;
    text-decoration: none;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.content {
    text-align: center;
    border: solid blue;
    color: blue;
    table-layout: auto;
    background: white;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.heading {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
    color: blue;
}

.form {
    width: 50%;
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px solid;
    font-size: 18px;
    color: blue;
}

.button {
    border: none;
    color: blue;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid blue;
}


.button:hover {
    background-color: blue;
    color: white;
}


.about {
    height: auto;
    width: 90%;
    margin-left: 4rem;
    background: white;
    color: blue;
}

.footer {
    background: white;
    width: 90%;
}

.icons {
    width: 2rem;
    height: 20%;
    margin-left: 5px;
    padding: 5px;
}

.subjectpix {
    width: 10rem;
    height: 10rem;
}

.font {
    color: blue;
    font-size: 24px;
}